.App {
  text-align: center;
  height:100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 15%;
  line-height: 1.4;
}

#title {
  font-size: 24px;
}

#sub {
  font-family: 'Circular Std Book';
  font-size: 14px;
}

.main-img {
  height: 45%;
  width: 80%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.search-container {
  width: 100%;
  min-height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search {
  display: inline-block;
  align-self: baseline;
  margin-left: 5%;
  margin-bottom: 8px;
}

.where-to {
  font-size: 1.5em;
  color: #000;
}

.search-inputs {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-left: 5%;
  padding-right: 2.5%;
}

.search-input-col {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  min-width: 90%;
  padding-right: 2.5%;
}

.material-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 36px;
}

#swap {
  font-size: 30px;
}

.dist-time {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin-top: 16px;
  margin-bottom: 20px;
}

.options-container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-title {
  display: inline-block;
  align-self: baseline;
  margin-left: 5%;
  margin-bottom: 8px;
  font-size: 1.5em;
  color: #000;
}

.disclaimer {
  display: block;
  font-family: 'Circular Std Book';
  font-size: 12px;
  color: #c5c5c5;
}

.second-img {
  height: 60%;
  width: 80%;
}

.hidden {
  display: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c4c4c4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c4c4c4;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #c4c4c4;
}

@media only screen and (min-height: 668px) {
  .main-img {
    height: 50%;
  }

  .second-img {
    height: 65%;
  }

  .search-container {
    min-height: 35%;
  }

  .options-container {
    height: 65%;
  }
}