.App {
  align-self: center;
  text-align: center;
  height:100%;
  width: 100%;
  margin: auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.App-header {
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.where-to {
  float: left;
  margin-left: 5%;
  font-size: 24px;
  color: #45406a;
  margin-bottom: 8px;
}

.from {
  width: 100%;
}

.search-result-item-content:last-child {
  margin-bottom: 8px;
}

.to {
  width: 100%;
}

.search-container {
  width: 100%;
}

.options-container {
  width: 100%;
}

.search-result-item-content {
  display: inline-flex;
  width: 90%;
  height: 64px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-bottom: 4px;
}

.option-card {
  display: inline-flex;
  width: 90%;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-bottom: 24px;
}

.option-card i {
  margin-left: auto;
  margin-right: 16px;
  color: rgba(0, 0, 0, 0.54);
}

.option-text {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 20px;
  margin: 8px;
  line-height: 1.4;
}

.breakdown {
  font-family: 'Circular Std Book';
  font-size: 14px;

}


.search-result-item-text {
  margin-top: 9px;
  text-align: left;
  line-height: 1.4;
  font-family: 'Circular Std Book';
}

.main-text {
  font-family: 'Circular Std';
}

.non-bold-main-text {
  font-family: 'Circular Std Book';
}

.secondary-text {
  font-family: 'Circular Std Book';
  color: #c5c5c5;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c4c4c4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c4c4c4;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #c4c4c4;
}

.location-search-input {
  width: 90%;
  height: 48px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-family: 'Circular Std Book';
  font-size: 16px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 8px;
}

.place {
  margin: 16px;
  width: 30px;
  height: 30px;
  background: #000000;
  background-image: url('baseline_place_white_18dp.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.dist-time {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;

}

.material-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
}

.dist {
  display: inline-flex;
}

.label-header {
  font-size: 10px;
  letter-spacing: 0.1em;
  color: #c5c5c5;
  font-family: 'Circular Std Book';
}

.dist-text {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4;
  padding-left: 8px;
}

